/* Import font "Roboto" from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,900&display=swap");

/* Global styles */
* {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
/* Body styles */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}
/* Logo styles */
.logo {
  /* Add a top margin for the logo container to 20px, so that the logo is not that high on the webpage */
  margin: 20px;
  display: flex;
  justify-content: center;
}
/* Brief About styles */
.brief-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: #3e4357;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 0px 00px;
}
/* Bried About Text styles */
.brief-about__text {
  margin: 10px;
}
/* Encrypt Box styles */
.encrypt-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: #3e4357;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 10px 0px;
}
/* Input Text area in Encrypt Box */
.encrypt-box__text {
  width: 90%;
  height: 100px;
  resize: none;
  color: #000000;
}
/* Encrypt Box Form styles */
.encrypt-box__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Encrypt Box Div that contains the radio options */
.encrypt-box__radio-group {
  display: flex;
  padding: 20px;
}
/* Encrypt Box Div that contains the result */
.encrypt-box__result {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
