/* Import font "Roboto" from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,900&display=swap");

/* Global styles */
* {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
/* Body styles */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}
/* Logo styles */
.logo {
  /* Add a top margin for the logo container to 20px, so that the logo is not that high on the webpage */
  margin: 20px;
  display: flex;
  justify-content: center;
}
/* Brief About styles */
.brief-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: #3e4357;
  max-width: 800px;
  margin: 20px auto;
  padding: 0px 20px;
}
/* Encrypt Box styles */
.encrypt-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: #3e4357;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 0px 20px;
}
